# LDL Contributors
JordanCpp <jordan631@yandex.ru> <61433942+JordanCpp@users.noreply.github.com>
JordanCpp <jordan631@yandex.ru> Evgeniy <jordan631@yandex.ru>
JordanCpp <jordan631@yandex.ru> JordanCpp <Jordan631@yandex.ru>
JordanCpp <jordan631@yandex.ru> Евгений <jordan631@yandex.ru>
JordanCpp <jordan631@yandex.ru> ZoschukEN <ZoschukEN@RTK-CD.RU>
JordanCpp <jordan631@yandex.ru> Зощук Евгений <ZoschukEN@rtk-cd.ru>

# LDL Community
Dmitry D. Chernov <blackdoomer@yandex.ru>
Timur Safin <timur.safin@gmail.com>
acidicMercury8 <acidicmercury8@outlook.com>
